<div class="row">
  <div class="large-5 columns text-center" id="bay-map">
    <h2 class="block-title">Current<br/> Shipping Traffic</h2>

    <div class="map">
      <iframe name="marinetraffic" id="marinetraffic" width="425" height="415" scrolling="no" src="http://www.marinetraffic.com/ais/embed.aspx?zoom=10&remember=false&shownames=true&notation=false&border=0&maptype=1&centery=38.7744&centerx=-75.1397"></iframe>
    </div>
    <div class="large-12 columns"><span class="text-center">Touch a ship to view more information</span>
    </div>
  </div>

  <div class="large-5 columns" id="current-conditions-block"></div>

  <div class="large-2 columns" id="buoy-stations">
    <h2 class="block-title text-center">Buoy Stations</h2>

    <div class="navigation">
      {{#list buoys}} <a href="#" id="{{ id }}" class="button radius inactive" onclick="Kiosk.getWeatherData('{{ id }}'); return false;">{{ name }}</a> {{/list}}
    </div>
  </div>

  <div id="waves-tides" class="large-6 columns">
    <div class="row waves-tides-header">
      <div class="waves-tides-header"></div>
      <div id="waves" class="large-7 columns block-radius">
        <h2 class="block-title text-center">Waves</h2>
        <div id="wave-data" class="row"></div>
      </div>

      <div id="tides"></div>
    </div>
  </div>
</div>