<div class="row waves-tides-header">


  <div id="tides" class="large-4 columns block-radius">
    <h2 class="block-title text-center">Tides</h2>
      <div id="tide-data" class="row">
        {{#if tides}}
          {{#each tides}}
            <div class="large-12 columns">
              <h4 class="left">{{ highlow }}:</h4>
              <span class="red-span">{{ time }}</span>
            </div>
          {{/each}}
        {{/if}}
      </div>
  </div>
</div>