<div class="row">
  <div class="large-9 large-offset-1">
    <h2>News</h2>

    {{#if items.length}}
      {{#each items}}
        <a href="#" onclick="Kiosk.getNewsArticle('{{ nid }}'); return false;">
          <div class="large-5 columns news-teaser">
            <h4>{{ title }}</h4>

            {{{ body }}}

            <p class="right collections meddon pointer-left">Learn More</p>
          </div>
        </a>
      {{/each}}
    {{/if}}
  </div>
</div>
