<div class="large-4 columns block-radius">
  <h2 class="block-title text-center">Tides</h2>
  <div id="tide-data" class="row">
    {{#if items}}
      {{#each items}}
        <div class="large-12 columns">
          <h4 class="left">{{ highlow }}:</h4>
          <span class="red-span">{{ time }}</span>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>