
  <div class="large-6 columns">
    <h4 class="left">Height:</h4>
    <span class="red-span">{{ wave_height }}</span>
  </div>

  <div class="large-6 columns">
    <h4 class="left">Length:</h4>
    <span class="red-span">{{ wave_length }}</span>
  </div>

  <div class="large-6 columns">
    <h4 class="left">Period:</h4>
    <span class="red-span">{{ wave_period }}</span>
  </div>

  <div class="large-6 columns">
    <h4 class="left">Direction:</h4>
    <span class="red-span">{{ wave_direction }}</span>
  </div>