<div class="row" id="videos">
  <div class="large-8 large-offset-2">
    <ul class="large-block-grid-3">
      <li>
        <a href="#" data-reveal-id="videoModal1">
          <h5 class="meddon">Video Title Here</h5>
          <img class="block-radius" src="http://placehold.it/280x195"/>
        </a>
      </li>
      <li>
        <a href="#" data-reveal-id="videoModal2">
          <h5 class="meddon">Video Title Here</h5>
          <img class="block-radius" src="http://placehold.it/280x195"/>
        </a>
      </li>
      <li>
        <a href="#" data-reveal-id="videoModal3">
          <h5 class="meddon">Video Title Here</h5>
          <img class="block-radius" src="http://placehold.it/280x195"/>
        </a>
      </li>
      <li>
        <a href="#" data-reveal-id="videoModal4">
          <h5 class="meddon">Video Title Here</h5>
          <img class="block-radius" src="http://placehold.it/280x195"/>
        </a>
      </li>
      <li>
        <a href="#" data-reveal-id="videoModal5">
          <h5 class="meddon">Video Title Here</h5>
          <img class="block-radius" src="http://placehold.it/280x195"/>
        </a>
      </li>
      <li>
        <a href="#" data-reveal-id="videoModal6">
          <h5 class="meddon">Video Title Here</h5>
          <img class="block-radius" src="http://placehold.it/280x195"/>
        </a>
      </li>
    </ul>
  </div>
</div>