<div class="row" id="collection">
  <div class="large-5 columns slideshow">
    <div class="large-12 collection-slideshow">
      <img src="http://placehold.it/419x268"/>
    </div>
    <div class="large-12 block-radius collections-cta">
      <h5 class="meddon">
        Learn About Artifacts
      </h5>

      <P>Scroll through our many artifacts on the right. Click on any you wish to view more information on!</P>
    </div>
  </div>
  <div class="large-6 columns" id="collection-teaser">
    <div class="collection-teaser-top"></div>
    <div class="content large-12 columns">

      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
      <a href="#" onclick="Kiosk.page('templates/artifacts/index.html'); return false;">
        <div class="large-12 columns artifact-teaser">
          <div class="large-3 columns">
            <img src="http://placehold.it/425x415"/>
          </div>
          <div class="large-9 columns">
            <h4>Artifact Number One</h4>
            <p>n ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra.</p>
            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </div>
      </a>
    </div>
    <div class="collection-teaser-bottom">
    </div>
  </div>
</div>