<div class="row">
  <div class="large-10 columns large-offset-1"><h2>The History of the Delaware Bay</h2>

    <p>Around 1960, a local newspaper columnist named Marjorie Virden wrote several articles for the local papers
      lamenting the fact that many of Lewes' fine eighteenth century buildings were rapidly disappearing. Particular
      attention was called to the plight of the David Rowland House on Front Street, which carries in its foundation a
      cannonball memento of the War of 1812 and the Bombardment of Lewes in April of 1813. Over the years, the house had
      been so neglected that the interior brick nogging was visible through missing shingles.</p>

    <p>

      One day in 1961, a group of concerned citizens including Robert Orr, Ginnie Orr, and Sarah Chambers were sailing
      down the canal towards Roosevelt Inlet. As they passed the Rowland House, someone remarked that despite much talk,
      no action had been taken to save Lewes' historic architecture. That same evening, Mrs. Orr held a meeting at her
      house for dozens of concerned citizens. Soon after, a general meeting was held to organize the Lewes Historical
      Society. Temporary officers were selected, invitations sent - with excellent results - to prospective members, and
      the Lewes Historical Society was officially founded on January 19, 1962.</p>

    <p>

      Later that year, a lot at the corner of Third and Shipcarpenter Streets was purchased and named the Lewes Historic
      Complex. Gradually, the Burton-Ingram House, Thompson Country Store, Rabbits' Ferry House, Creamery, Necessary,
      Early Plank House, Blacksmith Shop, and Ellegood House were moved to the Complex and restored. Conservation
      efforts continue today. The neglected house of David Rowland was eventually bought by the Society and restored.
      Today it sits on its original site at the corner of Front and Bank Streets and serves as the popular Cannonball
      House Marine Museum.</p>

    <p>

      In 1989, the John Farrace Bequest enabled the Society to purchase 110 Shipcarpenter Street, then known as the
      Watts property, and renamed as the Hiram Rodney Burton House to honor a local physician and Delaware's Congressman
      from 1901-1904. This structure houses the Society's library, archives as well as the administrative offices of the
      organization. In 1991, Freddie's Barn, the Society's maintenance facility, was built to honor long-time historic
      preservationist and restoration specialist, Fred Hudson, who has worked for the Society since the summer of 1962.
      The Doctor's Office, previously located on Second Street, was moved to the Complex to consolidate Society
      properties and in 2000, it was joined by Midway School #178.</p>

    <p>

      With the cooperation of the City of Lewes, the Society received a lease to the waterfront property on the canal at
      the foot of Shipcarpenter Street, where the Society berthed the lightship Overfalls and where the boathouse of the
      Lewes Life Saving Station sits. Since 1997, the Society has leased the Ryves Holt House at the corner of Second
      and Mulberry Streets from the Episcopal Diocese of Delaware. Located in the heart of Lewes' thriving business
      district, the Ryves Holt House serves as the Society's Visitors Center.</p>

    <p>

      The Society continues to offer a rich and exciting array of activities that engage our visitors and promote Lewes'
      unique heritage to an ever-increasing number of seasonal guests and year-round residents of the area. From our
      Winter Meeting Series to the summer Antique Shows and Craft Fairs the Society offers annual programs that have
      become signature events of the Society. The Society has sponsored several conferences of Lewes and Delaware
      History, has invited numerous local, national and international scholars and dignitaries to speak at its events,
      and promoted the arts and cultural exploration and appreciation in Southern Delaware. As Lewes continues to grow,
      the Society will strive to maintain a record of the past of this special and ancient town by the sea.</p>
  </div>
</div>