<div class="row">
  <div class="large-10 columns large-offset-1"><h2>The Cannonball House</h2>

    <p>The Cannonball House was built c. 1765 and was once the home of Gilbert McCracken and David Rowland, pilots for
      the Bay & River Delaware. The Cannonball House has come to symbolize not only the Society, but the town of Lewes
      as well; previous uses included a restaurant, a laundry store and, for a time, the mayor's office. Harkening back
      to the town's rich nautical heritage, the Cannonball House is the home of The Lewes Historical Society's maritime
      museum. Nationally important pieces of maritime art and memorabilia are displayed in the house, including the
      Fresnel Lens of Fourteen Foot Bank Light.</p><p>

      Featured in many works on Delaware, the Cannonball House is a rare example of a Lewes house remaining on one site
      its entire existence. The Cannonball House was featured on the 2003 Lewes Business Directory.</p><p>

      On April 5, 2003, the Cannonball House was honored by the State of Delaware for its close association with the
      Bombardment of Lewes by the British on April 6th and 7th, 1813 and as the home of two heroes of those fateful
      days, Gilbert McCraken and his son Henry, both Pilots of the Bay & River Delaware. The War of 1812 Park, across
      Front Street from the house and site of one of the two forts that defended Lewes during the bombardment, was also
      recognized. Gilbert & Henry McCracken served in a volunteer militia composed primarily of Delaware Pilots that
      defended Lewes until the end of the war in 1815.</p><p>

      Perhaps the two most famous landmarks in Lewes are the Zwaanendael Museum and the Cannonball House. Many visitors
      come to town seeking the famous house with a cannonball still in its side yet many are unaware of how close the
      house was to being lost. During the summer of 1961, several Lewes citizens expressed concern that the town was
      losing its character as its old homes were slowly being lost. They were especially concerned about the plight of
      what they knew as the Capt. David Rowland House – an ancient one with a distinguished history; built prior to the
      revolution, it had been the home of generations of river and bay pilots and had been scarred by cannon fire during
      the War of 1812. One night they met on Pilottown Road and decided something needed to be done right then and there
      – at that moment The Lewes Historical Society was formed. Members were sought, funds raised and a property was
      acquired – the historic Burton-Ingram House on Second Street. Two years later in 1963, the young historical
      society had raised the money to purchase the Rowland House, also commonly called the Cannonball House in honor of
      its scars from the infamous Bombardment of Lewes.</p>
  </div>
</div>